<div>
  <h1>Organize</h1>
  <p>
    "It takes as much energy to wish as it does to plan."<br>
    - Eleanor Roosevelt
  </p>
  <a role="button" href='/auth/register'>Register</a>
  <a role="button" href='/auth/login'>Login</a>
</div>
