<div>
  <h1>Login</h1>

  <div>
    <div>
      <div>
        <div>

          <form action='/auth/login' method='POST'>
            <div>
              <label for='email'>Email</label>
              <input type='email' name='username'>
            </div>
            <div>
              <label for='password'>Password</label>
              <input type='password' name='password'>
            </div>
            <button type='submit'>Login</button>
          </form>

        </div>
      </div>
    </div>

    <div>
      <div>
        <div>
          <a href='/auth/google' role='button'>
            <i></i>
            Sign in with Google
          </a>
        </div>
      </div>

    </div>
  </div>
