<div>
  <div>
    <div>
      <h1>Register New User</h1>
      <form action='/auth/register' method='POST'>
        <div>
          <label for='email'>Email</label>
          <input type='email' id='username' name='username' placeholder='Enter Email'>
        </div>
        <div>
          <label for='password'>Password</label>
          <input type='password' id='password' name='password' placeholde='Enter Password'>
        </div>
        <button type='submit'>Register</button>
      </form>
      <p>Already have an account?</p>
    </div>

    <div>
      <div>
        <div>
          <a href='/auth/google' role='button'>
            <i></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
