<div>
  <h1><%= tasklist.listName %></h1>
  <h3><%= tasklist.description %></h3>

  <div>
    <ul>
    <% tasklist.tasks.forEach(function(task) { %>
      <li><%= task.taskName %></li>
        <ul>
          <li><%= task.description %></li>
          <li><%= task.percentCompletion %></li>
        </ul>
    <% }); %>
    </ul>
  </div>

  <div>
    <form action=<%= '/tasklist/:' + tasklist._id %> method='POST'>
      <label for='newTaskName'></label>
      <input type='text' id='newTaskName' name='newTaskName' placeholder='New Task'><br>
      <button type='submit'>Add</button>
    </form>
  </div>

</div>
