<div>
  <h1>Tasklists</h1>
  <ul>
    <% tasklists.forEach(function(tasklist) { %>
      <li><a href=<%= '/tasklist/:'+tasklist._id %>><%= tasklist.listName %></a></li>
    <% }); %>
  </ul>
  <div>
    <form action='/tasklist' method='POST'>
      <label for='newList'></label>
      <input type='text' id='newListName' name='newListName' placeholder='New List'><br>
      <button type='submit'>Add</button>
    </form>
  </div>
</div>
